{% extends 'base.html' %}
{% load static %}
{% load omfilters %}

{% block content %}
{% include 'partials/_nav.html' %}

<section class="cart summary">

	<h2>Resumo da Compra</h2>
	<p>Se precisa editar algo, clique <a class="chique a_bold" href="{% url 'edit-user' %}">aqui</a></p>
	{% if request.session.cart %}

		<!-- {{request.session.cart}} -->

		<h3>Dados Pessoais</h3>
		<div class="info">
			<p>Nome: {{user.first_name}}</p>
			<p>Sobrenome: {{user.last_name}}</p>
			<p>Email: {{user.email}}</p>
			<p>CPF: {{perfil.cpf}}</p>
		</div>

		<h3>Dados de Entrega</h3>
		<div class="info">
			<p>Estado: {{perfil.estado}}</p>
			<p>CEP: {{perfil.cep}}</p>
			<p>Cidade: {{perfil.cidade}}</p>
			<p>Bairro: {{perfil.bairro}}</p>
			<p>Endereço: {{perfil.endereco}}</p>
			<p>Número: {{perfil.numero}}</p>
			<p>Complemento: {{perfil.complemento}}</p>
		</div>
			
		<h3>Itens</h3>

		{% for item in request.session.cart.values %}
			<div class="cart-product-wrapper">
				<img src="../../media/{{item.imagem}}" alt="{{item.produto_nome}}">

				<div>
					<div class="one-liner-dont-break">
						<a class="a_bold" href="{% url 'produto' item.slug %}"><p>{{item.produto_nome}}</p></a> - <p>{{item.variacao_nome}}</p>
					</div>
					<div class="one-liner-dont-break">
						<p>R${{item.preco_unitario|format_price}}</p> x <p>{{item.quantidade}}</p> = 
						<p>R${{item.preco_total|format_price}}</p>
					</div>

				</div>

			</div>
		{% endfor %}

		<h3>total: R${{request.session.cart|cart_total_cost|format_price}}</h3>

		<div class="box2 gotosomewhere">
			<p><a href="{% url 'cart' %}">Voltar</a></p>
		</div>
		<div class="box gotosomewhere">
			<p><a href="{% url 'save' %}">Finalizar</a></p>
		</div>

	{% else %}
		<p>Seu carrinho está vazio, clique <a class="chique a_bold" href="{% url 'home' %}">aqui</a> para voltar à página inicial</p>
	{% endif %}

</section>
{% endblock %}
