<!DOCTYPE html>
<html lang="pt-BR">
<head>
	{% include 'partials/_head.html' %}
	<title>Store</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap" rel="stylesheet"> 
</head>
<body>
	<main>
		{% include 'partials/_messages.html' %}

		{% block content %}
		{% endblock %}

		{% include 'partials/_footer.html' %}
	</main>
</body>
</html>